@media only screen and (max-width:1051px) {
    .section-three-part-one {
        padding: 10px;
    }

    .all-cards {
        place-content: center;
    }

    .first-card {
        width: 93%;
    }

    .second-card {
        width: 65%;
    }

    .part-three-all {
        height: 100%;
        width: 95%;
        display: flex;
        flex-wrap: wrap;
    }

    .part-three-one {
        height: 100%;
        width: 40%;
        margin: 10px;
    }

    .main-box {
        display: flex;
        flex-wrap: wrap;
    }

    .box {
        height: 55vh;
        width: 42%;
        position: relative;
    }


    .third-gallery{
        display: none;
    }

    .first-gallery{
        height: auto;
        width: 48%;

    }

    .section-eight {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-coloum{
        width: 100%;
    }

    .my-video {
        width: 100%;
    }

    .main-box-ten {
        display: flex;
        flex-wrap: wrap;
    }

    .box-ten {
        height: 55vh;
        width: 42%;
        position: relative;
    }

    .section-ten-box-display {
        position: absolute;
        top: 250px;
        margin-left: 8px;
    }

    .footer-five{
        display: none;
    }
    
    .footer-four{
        margin-right: 10px;
    }



}





@media only screen and (max-width:1000px) {
    .screen1000px {
        display: none;
    }


    .image-one {
        height: 100px;
        position: relative;
        top: 20px;
    }

    .multiple-con {
        grid-template-columns: 1fr;
    }

    .two {
        width: 80%;
        margin-left: 120px;
        margin-top: -40px;
    }

    .section-four-content {
        background: linear-gradient(65.99deg, #000 0, transparent 99.04%);
        height: 100%;
        width: 100%;
        place-content: center;
    }

    .section-four-content {
        background: linear-gradient(65.99deg, #000 0, transparent 99.04%);
        height: 100%;
        width: 100%;
        place-content: center;
    }



}


@media only screen and (max-width:900px) {
    .text-div {
        max-width: 100%;
        margin-left: 10px;
    }

    .section-nine-content {
        height: 100%;
    }

    .text-div-nine {
        max-width: 100%;
        margin-left: 10px;
    }

}

@media only screen and (max-width:768px) {
    .section-three-part-one {
        padding: 10px;
    }

    .second-div {
        margin-left: 10px;
    }


    .all-cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .first-card {
        width: 90%;
    }

    .second-card {
        width: 90%;
    }

    .third-four-card {
        width: 90%;
    }

    .part-three-all {
        height: 100%;
        width: 95%;
        display: flex;
        flex-wrap: wrap;
    }

    .part-three-one {
        height: 100%;
        width: 100%;
        margin: 10px;
    }

    .text-div-four {
        max-width: 100%;
        margin-left: 10px;
    }

    .text-div-six {
        max-width: 100%;
        margin-left: 10px;
    }

    .text-div-six span {
        font-size: 2rem;
        font-weight: bold;
    }

    .section-four-mydiv img {
        margin-top: 15px;
        margin-right: 20px;
    }

    .section-six-mydiv img {
        margin-top: 15px;
        margin-right: 20px;
    }

    .box {
        height: 55vh;
        width: 90%;
        position: relative;
    }

    .sec-gallery{
        display: none;
    }

    .first-gallery{
        height: auto;
        width: 90%;

    }

    .box-ten {
        height: 60vh;
        width: 90%;
        position: relative;
    }

    .section-ten-box-display {
        position: absolute;
        top: 200px;
        margin-left: 8px;
    }

    .footer-four{
        display: none;
    }

    .footer-three{
        margin-right: 10px;
    }

    .p-h4{
        left: .5rem;
    }

    
}


@media only screen and (max-width:500px) {

    .image-one {
        height: 100px;
        margin-top: 80px;
    }

    .one {
        width: 80%;
    }

    .multiple-con {
        grid-template-columns: 1fr;
    }

    .two {
        width: 70%;
        margin-left: 120px;
        margin-top: -60px;
    }


    .my-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-one{
        width: 90%;
    }

    .footer-two{
        width: 90%;
    }

    .footer-three{
        width: 90%;
    }
    


}


@media only screen and (max-width:425px) {

    .image-one {
        height: 50px;
        margin-top: 20px;
        position: relative;
        top: 50%;
    }

    .one {
        width: 100%;
    }

    .one span {
        font-size: 2rem;
    }

    .two {
        width: 70%;
        margin-left: 70px;
        margin-top: -5px;
        font-size: .8rem;
    }

    .section-three-part-one {
        flex-direction: column;
        justify-content: center;
        align-items: start;

    }

    .part-one {
        margin-left: 30px;
        margin-top: 15px;
    }

    .image-p {
        margin-left: 20px;
    }


}








































/* Min Height */


@media only screen and (min-width:1000px) {
    .navbar {
        display: none;
    }

    .collapse {
        display: none;
    }
}